* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    height: 800px;
    align-items: center;
    padding: 0px 150px;
}

.header-title {
    font-size: 80px;
    font-family: lato;
}

.header-info {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}

.btn-primary {
    background-color: #E55473;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
}

.header-img {
    width: 600px;
    height: 750px;
    margin-top: 50px;
}

.Our-Featured-Flowers {
    height: 100vh;
    padding-top: 50px;
}

.featured {
    text-align: center;
}

.featured-title {
    font-size: 40px;
    padding-bottom: 20px;
}

.featured-info {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 70px;
}

.featured-img-cnt {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.img-box1 {
    background-color: #93d4e8ef;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 450px;
    width: 410px;
}

.img-box2 {
    background: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 450px;
    width: 410px;
}

.img-box3 {
    background-color: #A7216226;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 450px;
    width: 410px;
}

.box-img1 {
    padding: 50px 0px 30px 30px;
    height: 400px;
    width: 300px;
}

.box-img2 {
    padding: 50px 0px 30px 30px;
    height: 400px;
    width: 300px;
}

.box-img3 {
    padding: 70px 0px 60px 60px;
    height: 380px;
    width: 290px;
}

.box-title {
    text-align: center;
    align-items: center;
    text-decoration: underline;
    font-size: 30px;
}

.our-services {
    margin-top: 10px;
    height: 25vh;
    background-color: rgba(82, 90, 88, 0.599);
    text-align: center;
    border: 5px solid salmon;
    border-radius: 15px;
    
}

.our-services-title {
    font-size: 40px;
    padding-top: 50px;
    color: white;
}
.services-btn{
    display: flex;
    justify-content: space-around;
    padding: 10px 240px;
}
.hot-deal-part {
    height: 30vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    padding: 150px 250px;
    align-items: center;
}

.hot-deal-massage {
    text-align: center;
}

.hot-deal-title {
    font-size: 40px;
}

.hot-deal-info {
    font-size: 18px;
    line-height: 30px;
}

.off {
    color: #E55473;
}

.hot-deal-img {
    height: 400px;
    width: 300px;
}

/* instagram-part */
.instagram-part {
    text-align: center;
    margin-top: 100px;
}

.instagram-title {
    font-size: 40px;
}

.instagram-info {
    font-size: 18px;
    line-height: 30px;
}

.flower-box {
    display: flex;
    justify-content: space-around;
    padding: 50px 240px;
}

.flower-img {
    height: 350px;
    width: 300px;
    padding: 8px;
}

.subscribe {
    height: 45vh;
    margin: 90px 230px;
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.feedback {
    margin: 0px;
}

.feedback-title {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

.feedback-info {
    font-size: 18px;
    padding: 20px;
}

.input-box {
    height: 60px;
    width: 500px;
    border: 0px;
    border-radius: 5px;
    gap: 16px;
    font-size: 18px;
    text-align: center;
}

.footer-area {
    height: 22vh;
    background-color: black;
    text-align: center;
    padding: 100px;
    margin: auto;

}

.footer-title {
    color: white;
    font-size: 50px;

}

.footer-info {
    color: white;
    font-size: 18px;
    padding: 20px;
}

.copy-right {
    color: rgba(203, 223, 241, 0.744);
}